<!DOCTYPE html>
<html>

<head>

    <title>Smart Document Clustering System</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

    <h1>📄 Smart Document Clustering System</h1>

    <div class="cards">

        <div class="card">

            <h2>📤 Upload Document</h2>

            <p>
                Add new documents into the system.
            </p>

            <a href="/upload">

                <button class="btn">

                    Open

                </button>

            </a>

        </div>

        <div class="card">

            <h2>📚 View Documents</h2>

            <p>
                View all uploaded documents.
            </p>

            <a href="/documents">

                <button class="btn">

                    Open

                </button>

            </a>

        </div>

        <div class="card">

            <h2>🔍 Search Documents</h2>

            <p>
                Search documents by keyword.
            </p>

            <a href="/search">

                <button class="btn">

                    Open

                </button>

            </a>

        </div>

        <div class="card">

            <h2>📂 Document Clusters</h2>

            <p>
                View document categories and clusters.
            </p>

            <a href="/clusters">

                <button class="btn">

                    Open

                </button>

            </a>

        </div>

        <div class="card">

            <h2>👨‍💼 Admin Dashboard</h2>

            <p>
                View statistics and uploaded documents.
            </p>

            <a href="/admin">

                <button class="btn">

                    Open

                </button>

            </a>

        </div>

    </div>

</body>

</html>
